<div class="container main-container">
    <h2>Bar</h2>
    <div>
        Unidade Manual: {{ configManual.unidadeId }} - Token Manual: {{ configManual.unidadeToken }}
        <br />
    </div>
    <div>
        Unidade: {{ config.unidadeId }} - Token: {{ config.unidadeToken }}
        <br />
    </div>
    <div>
        Bebidas 1: {{ barBebida1 }}
        <br />
    </div>
    <div>
        Bebidas 2: {{ barBebida2 }}
        <br />
    </div>
    <div>
        Dados Unidade (service) {{ dadosUnidade }}
        <br />
    </div>
</div>
