<div class="task-list">
  <h3>
    <ng-content></ng-content>
  </h3>
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let item of list; index as i">
        <td class="text-left">
          <span>{{ item.nome }}</span>
        </td>
        <td class="text-right">
          <img
            *ngIf="!item.finalizada && item.iniciada"
            class="task-list-icon"
            (click)="toggleItem(i, 'finalizar')"
            src="/assets/parar_ativo.png"
          />
          <img
            *ngIf="!item.finalizada && !item.iniciada"
            class="task-list-icon"
            (click)="toggleItem(i, 'iniciar')"
            src="/assets/iniciar_ativo.png"
          />
          <img
            *ngIf="item.finalizada && !item.iniciada"
            class="task-list-icon"
            (click)="toggleItem(i, 'retomar')"
            src="/assets/retroceder_ativo.png"
          />
          <img
            *ngIf="!item.finalizada && item.iniciada"
            class="task-list-icon"
            (click)="toggleItem(i, 'cancelar')"
            src="/assets/retroceder_ativo.png"
          />
          <img
            class="task-list-icon"
            src="/assets/lixo.png"
            (click)="excluir(item.id)"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
